.signup{
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.main{
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.747), gray);
}